# Package managers
node_modules
.npm
.pnpm-store
.pnpm-debug.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
dist
dist-ssr
build
out
.turbo
.next
.output
.vercel
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Editor/OS directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings
.factorypath

# Testing
coverage
.nyc_output
*storybook.log
storybook-static

# DB / SQL
*.sqlite
*.sqlite-journal
*.db
*.db-journal
